@import "../../../variables.scss";

.checkboxes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile-inputs {
  overflow: scroll;
  .profile-details {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr;
  }
}
